// Colors
$primary-color: rgb(96, 87, 88);
$secondary-color: rgb(238, 238, 238);
$accent-color: rgb(236, 87, 83);
$light-gray: rgb(193, 193, 193);
$dark-gray: rgb(53, 49, 48);
$green: rgb(142, 216, 191);

// Typography
$font-primary: 'Fira Sans Bold', sans-serif;
$font-secondary: 'Fira Sans Medium', sans-serif;
$font-accent: 'Ubuntu Mono', sans-serif;
$font-xxl: 2rem;
$font-xl: 1.625rem;
$font-lg: 1.5rem;
$font-md-lg: 1.375rem;
$font-md: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;


// Spacing
$padding-sm: 8px;
$padding-md: 1rem;
$padding-lg: 24px;
