@use '../styles/main.scss' as *;

.orderModalPage {
  background-color: $secondary-color;
  @include page-layout;
  position: fixed;

  .etaBtn {
    @include page-layout;
    justify-content: flex-end;
    padding: $padding-md;
    }
}